body{
    display: block;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
#header{
    background-image: url("../img/picjumbo.com_IMG_4340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    
}
.slider{
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    padding-bottom: 40px;
    padding-top: 20px
}
.hr{
    margin-top: 13px;
    padding: 0;
}
#myNavbar a{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
#myNavbar a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 13px;
    background-color: darkgray;
}
.icon-bar{
    color: #ddd;
}
span{
    color: aqua;
    background-color: black;
}
#myNavbar{
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.brand-img img{
    width: inherit;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    opacity: .5
}
.search{
    background-color: #333;
    opacity: .7;
    position: fixed;
    padding-top: 20px;
    z-index: 999;
    width: 100%;
    height: 200px;
    display: none;
}
.btn-close{
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 999;
}
.input-group{
    position: absolute;
    top: 100px;
    width: 50%;
    left: 25%;
}
#socail{
    padding-bottom: 30px;
    padding-top: 50px;
    text-align: center;
}
#socail a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 9px 3px 9px 3px;
    background-color: gray;
    font-size: 19px;
}
#socail .fa{
    padding: 10px;
}
#socail a:first-child{
    padding: 9px 5px;
}
#socail a:hover{
    background-color: dodgerblue;
}
.down-button a{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 1px;
}
.down-button{
    padding-bottom: 50px;
    padding-top: 30px;
}
.down-button .fa .fa-angle-double-down{
    padding: 10px 1px;
}
.down-button i{
    padding: 10px 1px 10px 1px;
    animation-duration: 2s; 
    animation-delay: 1s;
    animation-name: fadeInDown;
}
.section_heading{
    text-align: center;
    text-transform: uppercase;
    color: mediumvioletred;
    padding-top: 80px;
}
#about p{
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding-top: 50px;
}
#about button{
    text-align: center;
    padding: 12px 20px;
    background-color: #fff;
    border: 1px solid black;
    margin-top: 70px;
    vertical-align: middle;
}
#about button:hover{
    background-color: mediumvioletred;
    border: 1px solid mediumvioletred;
}
#about .button{
    width: 130px;
    margin: 0 auto;
}
#about button a{
    color: black;
}
#service{
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}
#service .col-sm-6{
    padding: 0;
    margin: 0;
}
#service .service_heading{
    padding-top: 60px;
    text-transform: uppercase;
}
#service .row{
    background-color: #ddd;
}
#service .row p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 50px;
}
#carrer .container{
    background-image: url(../img/slider2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin-top: 50px;
}
#myCarousel{
    background-color: rgba(0,0,0,.5);
}
#myCarousel .slider-header{
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}
#myCarousel .item p{
    color: #fff;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 80px;
    line-height: 2em;
    font-size: 16px;
}
#myCarousel .slidercontrol a{
    position: absolute;
    top: 50%;
    background: none;
}
#carrer .input a{
    font-size: 19px;
    color: #fff;
    padding: 5px;
}
#carrer .input input{
    background: none;
    height: 32px;
    border: 1px solid #fff;
    color: #fff;
}
#carrer .input{
    padding-bottom: 15px;
    color: #fff;
}
#cv_sender p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 50px;
    line-height: 30px;
    font-size: 18px;
    color: black;
    margin-bottom: 80px;
}
#cv_sender form{
    margin-top: 50px;
}
#cv_sender form label,#cv_sender form input {
    display: inline-block;
    color: mediumvioletred;
    background-color: #fff;
    border: 1px solid mediumvioletred;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
}
#cv_sender form input[type=file]{
    display: none;
}
#cv_sender form label:hover,#cv_sender form input:hover{
    background-color: mediumvioletred;
    color: #fff;
}
#gallary .row{
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
#gallary .row .colam{
    padding: 0;
}
#gallary .row img{
    width: 500px;
    height: 200px;
    padding: 1px;
    cursor: pointer;
}
#gallary .row img:hover{
    padding: none;
    border: 1px solid mediumvioletred;
}
#gallary h1{
    margin-bottom: 50px;
}
#contact .text p{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#contact .text{
    margin-bottom: 20px;
}
#contact .col{
    padding: 0;
}


#footer{
    background-color: #D0323C;
}
#footer .colum{
    padding: 0;
    position: relative;
    top: 30px
}
#footer .form{
    border: 1px solid #fff;
    font-size: 20px;
    height: 100px;
    background-color: #fff;
    border-radius: 50px;
}
#footer button{
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #999;
    color: #fff;
    height: 60px;
    width: 180px;
    border-radius: 50px;
}
#footer button:hover{
    background-color: #D0323C;
}
#footer input{
   height: 100px;
    border: 1px solid #fff;
   border-radius: 50px;
}
#footer .row{
    padding-bottom: 50px;
    padding-top: 50px;
}
#footer .footer_heading{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
#footer .copyright{
    padding-bottom: 50px;
    color: #fff;
}